<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>api.video Webhooks</title>
    <meta name="description" content="apivideo Webhooks">
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-N9E9YP1HGF"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-N9E9YP1HGF');
            </script>
            <script>
                var __nspid="isrtzw";
                var __nsptags=[];
                (function(w, d) { var x = function() {
                var j=d.createElement("script");j.type="text/javascript";j.async=true;
                j.src="http"+("https:"===d.location.protocol?"s://cs":"://c")+".ns1p.net/p.js?a="+__nspid;
                d.body.appendChild(j); }
                if(w.addEventListener) { w.addEventListener("load", x, false); }
                else if(w.attachEvent) { w.attachEvent("onload", x); }
                else { w.onload = x; }
                }(window, document));
                </script>
     
  </head>
  <body>
    <header>
      <h1>
        api.video Webhooks
      </h1>
    </header>
    <main>
      <p class="bold">This app receives webhook events from apivideo and lists them. Currently, the webhook lists:
        <li>Video encoding events.</li>
        <li>Live broadcast start event.</li>
        <li>Live broadcast end event.</li>
      </p>
        <p> To see an encoding webhook, <a href='https://upload.a.video' target='_blank'>upload a video</a></p>
            <section class="webhooks">
        <p> Webhooks received:</p>
        <ul id="webhooks">
        </ul>
        <ul id="htmlwebhooks">
        </ul>
      </section>
    </main>

    Built with <a href="https://api.video">api.video</a>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
